@font-face {
    font-family: 'Emotion';
    src: url('/Users/Projectwebka/WebProject/Frontend/src/font/against regular.woff') format('woff');
    /* You can add more src declarations for different file formats (e.g., woff2, ttf) */
    font-weight: normal; /* Adjust font weight if needed */
    font-style: normal; /* Adjust font style if needed */
}

.brand-name {
    font-family: 'Emotion', sans-serif;
    color: rgb(152, 77, 37);
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    bottom: 40%;
    margin-top:2vh;
}

.brand-name span {
    display: inline-block;
    opacity: 0;
    animation: reveal 1s forwards;
}

@keyframes reveal {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

